/*初始化部分*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/*初始化结束*/
/*设置主体部分*/
body{
	background-image: url(bg.jpg);
	/*background-color: rgb(200,200,255);*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

/*主体内容设置结束*/
/*设置题头*/
div.title{
	display: inline-block;
	width: 100vw;
	min-width: 900px;
	height: 41px;
	line-height: 41px;
	border: 0px;
	padding: 0px;
	text-align: left;
	background-color: rgb(10,10,3);
	box-shadow: 0px 0px 10px #000;
}
div.title ul.goto,li.goto{
	display: inline-block;
}
/*设置左侧修饰块*/
div.title li.titleme{
	display: inline-block;
	height: 41px;
	line-height: 41px;
	font:italic bold 22px 汉仪菱心体简,楷体,KaiTi,微软雅黑,Microsoft YaHei,SimHei,SimSun;
	color: rgb(255,242,0);
	margin-right: 80px;
}
/*设置导航栏*/
div.title li.goto a{
	display: inline-block;
	height: 41px;
	padding: 0px 18px;
	font-size: 16px;
	text-align: center;
	font-style: normal;
	font-weight:lighter;
	font-family: 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	line-height: 41px;
}
div.title li.goto a:link{
	text-decoration: none;
	opacity: 1;
	color: #fff;
	transition: background-color 0.22s;
}
div.title li.goto a:visited{
	opacity: 1;
	text-decoration: none;
	color: #fff;
}
div.title li.goto a:hover{
	opacity: 1;
	text-decoration: none;
	background-color: rgb(121,54,181);
	color: #fff;
}
div.title li.lgcg{
	display: inline-block;
	height: 41px;
	padding: 0px 18px;
	font-size: 12px;
	text-align: center;
	font-style: normal;
	font-weight:lighter;
	font-family: 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	line-height: 41px;
}
div.title li.lgcg a{
	color: #ccc;
}
/*题头设置结束*/
/*设置左侧栏*/
div.leftlet{
	display: inline-block;
	width: 225px;
	height: 533px;
	position: absolute;
	top: 40px;
	left: 25px; 
	border: 0px ;
	padding: 0px;
	margin: 30px;
	border-radius: 3px;
	background-color: rgb(220,190,120);
	text-align: left;
	box-shadow: 0px 0px 15px #e5e5c8;
}
/*设置左侧栏标题*/
div.leftlet ul.head{
	display: inline-block;
	width: 215px;
	height: 50px;
	padding-left: 10px;
	border-radius: 3px;
	text-align: left;
	font-style: normal;
	font-weight:normal;
	font-family: 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	line-height: 30px;
	background-color:rgb(50,50,50);
	color: white;
}
div.leftlet ul.head li.head1{
	font-size: 21px;
	text-align: left;
	font-style: normal;
	font-weight:lighter;
	font-family: 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	line-height: 30px;
}
div.leftlet ul.head li.head2{
	font-size: 12px;
	text-align: left;
	font-style: normal;
	font-weight:lighter;
	font-family: "Calibri",Times New Roman,;
	line-height: 15px;
}
/*设置左侧栏头像*/
div.leftlet ul.letbrief li.letportrait img{
	width: 140px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 18px;
	border: 6px solid rgb(230,230,235);
	border-radius: 3px;
}
/*设置左侧栏简介*/
div.leftlet ul.letbrief{
	border-bottom: 1px dashed rgb(128,80,87);
	margin: 15px;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 40px;
	height: 260px;
	font:normal lighter 15px/18px 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	color: rgb(15,15,15);
}
/*设置左侧栏联系方式*/
div.leftlet ul.letconnect li.contitle{
	font:normal lighter 18px/20px 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	color: rgb(15,15,15);
}
div.leftlet ul.letconnect{
	margin: 20px;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 30px;
	height: 260px;
	font:normal lighter 11px/20px 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	color: rgb(28,32,75);
}
/*左侧栏设置结束*/
/*设置正文部分*/
div.homebody ul.bodypart{
	display: inline-block;
	width: 752px;
	position: relative;
	left: 350px;
	/*top: 40px;*/
	border: 0px ;
	padding: 15px;
	padding-top:0;
	margin-top: 30px;
	margin-bottom: 250px;
	margin-left: 10px;
	border-radius: 3px;
	background-color: rgb(200,200,200，0);
	text-align: center;	
}
div.homebody ul.bodypart ul.bodycontainer{
	display: inline-block;
	width: 723px;
	float: left;
	border: 0px ;
	padding: 15px;
	margin-bottom: 31px;
	border-radius: 5px;
	background-color: rgb(210,210,240,0);
	box-shadow:  0px 0px 8px #505050;
	transition: box-shadow 0.16s;
}
div.homebody ul.bodypart ul.bodycontainer:hover{

	box-shadow:  0px 0px 40px #505050;
}
div.homebody ul.bodypart ul.bodycontainer li.contthead{
	display: inline-block;
	height: 43px;
	margin-top: 0px;
	padding: 3px;
	border-radius: 4px;
	background-color: rgb(47,183,207);
	text-align: center;
	font:normal normal 30px/45px 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	box-shadow:  0px 0px 1px #505050;
	color: rgb(227,228,227);
}
div.homebody ul.bodypart ul.bodycontainer li.conttlink1{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 5px;
	margin-top: 10px;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(64,66,58);
	text-align: center;
	font:normal lighter 13px/20px 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	color: rgb(255,255,255);
	box-shadow:  0px 0px 2px #000;
	transition: background-color 0.22s;
}
div.homebody ul.bodypart ul.bodycontainer li.conttlink1:hover{
	background-color: rgb(180,100,100);
}
div.homebody ul.bodypart ul.bodycontainer li.conttlink2{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-right: 8px;
	margin-top: 10px;
	border-radius: 3px;
	background-color: rgb(64,66,58);
	text-align: center;
	font:normal lighter 13px/20px 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	box-shadow:  0px 0px 2px #000;
	color: rgb(255,255,255);
}
div.homebody ul.bodypart ul.bodycontainer li.conttlink2 a{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(64,66,58);
	text-align: center;
	font:normal lighter 13px/20px 微软雅黑,Microsoft YaHei,SimHei,SimSun;
	color: rgb(255,255,255);
	transition: background-color 0.22s;
}
div.homebody ul.bodypart ul.bodycontainer li.conttlink2 a:hover{
	text-decoration: none;
	/*background-color: rgb(132,153,44);*/
	background-color: rgb(180,100,100);
}
div.homebody ul.bodypart ul.bodycontainer li.bdcontent{
	display: inline-block;
	padding: 18px;
	border-radius: 5px;
	margin-top: 15px;
	background-color: rgb(160,180,255);
	/*background-color: rgb(255,255,255);*/
	box-shadow:  0px 0px 10px #aabef5;
	font:normal normal 14px/20px 微软雅黑,Microsoft YaHei,SimHei,SimSun,华文仿宋,FangSong,宋体;
	text-align: left;
	text-indent: 2em;
	color: rgb(0,0,0);
	transition: box-shadow 0.17s;
}
div.homebody ul.bodypart ul.bodycontainer li.bdcontent:hover{
	box-shadow:  0px 0px 25px #aabef5;
}
/*正文部分设置结束*/
/*设置快速回顶标签*/
div.top{
	position: fixed;   
    right: 40px;   
    bottom: 40px;   
    margin: auto;
    transition: a 0.5s; 
}
/*快速回顶标签设置结束